
body{
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing:0.02em;}

h1 , h2 , h3 , h4 , h5 , h6 , p {margin: 0;}

.link{text-decoration: none;
    list-style: none;}

:root{
    --color-1: #4D5AE5 ;
}

ul, ol {list-style: none;
    padding-left: 0;
    margin: 0;}

img{display: block;
    max-width:100%;
    height: auto;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ===================================== phone ================================================ */

@media (max-width:767px) {

header{background: #FFFFFF;
    border: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);} 

.heder-buttons{font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #000000;
    margin-top: 80px;
    margin-left: 40px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 284px;}

.heder-contacts-link{display: flex;
    flex-direction: column;
    margin-left: 40px;
    }

.heder-contackts{font-weight: 600;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-transform: capitalize;
    color: #4D5AE5;}

.burger{font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 40px;
    margin-top: 40px;}



.burger-logo-link{display: flex;
    gap: 54px;
    margin-left: 40px;}

.burger-logo{display: flex;
    gap: 56px;
    margin-left: 40px;}

.svg{position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

.heder-logo {
    color: #000000;} 

.heder-div{display: block;
    margin: 24px 0;}

.logo-link{
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color-1);
    font-family:'Raleway';
    margin-left: 16px;
    }

.buy {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(./img_css/background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 432px;
    text-align: center;
    margin: 0 auto;
}

.buy-text {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 72px;}

.buy-btn {
    padding: 16px 32px;
    background-color: var(--color-1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;}

.about-text{
    gap: 72px;
    display: flex;
    flex-direction: column;}

.about-h3{font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;}

.about-p{margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #434455;
    padding: 0 16px;}

.about-worck{position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

.warning{margin: 96px 0;}

.about-team{gap: 72px;
    display: flex;
    flex-direction: column;}

.my-team{
    background-color: #F4F4FD;
    justify-content: center;
    display: flex;
    text-align: center;
    padding-bottom: 128px;
    padding-top: 96px;
    }

.team{background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-top: 72px;
}

.team-logo-link {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
    padding-bottom: 32px;
}

.team-soc {
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc:hover,
.team-soc:focus {
    background-color: #404BBF;}

.team-soc {
    width: 40px;
    height: 40px;
    background-color: var(--color-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-text{font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.customers{padding:96px 16px ;}

.customer-svg-link{width: 168px;
    height: 88px;
    border: 1px solid currentColor;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #8E8F99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo-link{display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
    margin-top: 72px;
    justify-content: center;}

.customer-svg-link {
    width: 168px;
    height: 88px;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: #8E8F99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costomers-svg-icon{fill: currentColor;}

.customer-svg-link:focus .costomers-svg-icon{fill: #404BBF;
    border-color: #404BBF;}

footer{background-color: #2E2F42;
    padding: 96px 16px;}

.footer-logo-link{
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 16);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;}

.footer-logo{color: #ffffff;}

.footer_title{padding: 0 64px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #E7E9FC;}

.footer-logos{font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    margin-top: 72px;}
    
.footer-logs-link{display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 72px;}

.logo_footer{width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;}

.fuuter-input-title{
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #FFFFFF;}

.fuuter_input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(24 / 12);
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 16px;
}

.footer-button{
    background-color: #4D5AE5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    gap: 16px;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: auto;}

.footer-input-logo{fill: #ffffff;}

.portfolio-top-title{position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.portfolio-li{background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: center;
}

.portfolio-h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-p {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: #757575;
}

.portfolio-title {
    padding: 32px 16px;
}

.portfolio-main{padding:0 16px ;
    padding-bottom: 48px;}

.main-btn{display: flex;
    flex-wrap: wrap;
    width: 340px;
    gap: 24px 16px;
    padding: 48px 0;}

.nav-buttons{padding: 8px 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;}

.menu-btn {
    width: 30px;
    height: 19px;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    right: 17px;
    top: 25px;
}

.menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
    background-color: #000000;
    transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
}

/* Змінюємо гамбургер іконку, коли меню відчинено */
.menu-btn.active span:nth-of-type(1) {
    display: none;
}

.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    width: 8px;
    transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    width: 8px;
    transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, яке буде зʼявлятися */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #ffffff;
    transform: translateX(-150%);
    transition: transform 0.5s;
}

.menu.active {
    transform: translateX(0);
}

.menu li {
    list-style-type: none;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    background-color: none
}

.modal-close-button {
    position: absolute;
    display: block;
    top: 24px;
    right: 24px;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: background, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404BBF;
    fill: #ffffff;
}

.modal {
    position: absolute;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 408px;
    min-height: 576px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.modal-input {
    width: 100%;
    min-height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-logo-use {
    position: relative;
    display: block;
}

.modal-input-logo {
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--color-1);
}

.modal-input:focus+.modal-input-logo {
    fill: var(--color-1);
}

.modal-comment-input {
    width: 100%;
    min-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 16px;
    padding-bottom: 96px;
    padding-top: 8px;
    resize: none;
    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-comment-input:focus {
    border-color: var(--color-1);
}

.modal-comment-input:focus+.modal-comment-input::placeholder {
    color: var(--color-1);
}

.modal-input-title {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #8E8F99;
    margin-bottom: 4px;
    margin-top: 8px;
    display: inline-block;
}

.accept-modal {
    display: flex;
    margin-top: 16px;
    margin-bottom: 14px;
}

.privacy-title {
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: #757575;
    display: flex;
}

.option {
    display: block;
    margin-bottom: 0.5em;
}

.check {
    padding-left: 1.2em;
}

.check__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
}

.check__box {
    position: absolute;
    margin-top: 0.2em;
    margin-left: -1em;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
}

.check__input:checked+.check__box {
    background-color: #404BBF;
    background-image: url(./img_css/modal-accept.svg);
    border: none;
}

.check__input:checked:disabled+.check__box {
    background-color: #9B9B9B;
}

.accept-title {
    margin-left: 24px;
    align-items: center;
}

.modal-ptivacy-link {
    color: #404BBF;
}

.modal-send-btn {
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    padding: 16px 64px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

/* ====================================== teablet ====================================================== */

@media (min-width:768px) and (max-width:1439px){

header{background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    position: relative;}

.heder-logo {
        color: #000000;
    }

.logo-link{font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-1);
    margin-left: 16px;
    top: 24px;
    position: relative;
}

.heder-buttons{justify-content: center;
    display: flex;
    gap: 40px;
    margin-bottom: 24px;}

.heder-contacts-link{display: flex;
    flex-direction: column;
    position: absolute;
    top: 24px;
    right: 16px;}

.heder-contackts{font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: #434455;}

.burger-logo-link{position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.current {
    color: var(--color-1);
    position: relative;
}

.current::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    position: absolute;
    top: 41px;
    left: 0;
}

.buy {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./img_css/background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 600px;
    text-align: center;
    margin: 0 auto;
}

.buy-text{font-weight: 700;
    font-size: 56px;
    line-height: calc(60 / 56);
    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;}

.buy-btn {
    padding: 16px 32px;
    min-width: 169px;
    background-color: var(--color-1);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 40px;}

.svg {
    position: absolute;
    width: 1px;
    height: 1px px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

.about-text {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
}

.warning {
    padding: 96px 16px;
}

.about-h3 {
    margin: 8px 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.about-p {
    width: 350px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #434455;}

.about-worck{position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.my-team{
    padding-top: 96px;
    padding-bottom: 104px;
    background-color: #F4F4FD;}

.about-team{display: flex;
    flex-wrap: wrap;
    gap: 64px 24px ;
    justify-content: center;}
    
.team{background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;}

.team-txt{font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 74px;}

.team-logo-link {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-logo {
    width: 40px;
    height: 40px;
}

.team-soc {
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;}

.team-wraper {
    padding: 32px 0;
}


.team-h3 {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-p {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.02em;
    color: #757575;
}


.customers {
    padding: 120px 0;
}

.customers-text {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.customers-logo-link {
    margin: 0 100px ;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.costomers-svg-icon {
    fill: currentColor;
}

.customer-svg-link {
    width: 168px;
    height: 88px;
    border: 1px solid currentColor;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #8E8F99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.Customers-logo {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-right: 24px;
    padding: 16px 32px;
    margin-bottom: 110px;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    background-color: none
}

.modal-close-button {
    position: absolute;
    display: block;
    top: 24px;
    right: 24px;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: background, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404BBF;
    fill: #ffffff;
}

.modal {
    position: absolute;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 408px;
    min-height: 576px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.modal-input {
    width: 100%;
    min-height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-logo-use {
    position: relative;
    display: block;
}

.modal-input-logo {
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--color-1);
}

.modal-input:focus+.modal-input-logo {
    fill: var(--color-1);
}

.modal-comment-input {
    width: 100%;
    min-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 16px;
    padding-bottom: 96px;
    padding-top: 8px;
    resize: none;
    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-comment-input:focus {
    border-color: var(--color-1);
}

.modal-comment-input:focus+.modal-comment-input::placeholder {
    color: var(--color-1);
}

.modal-input-title {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #8E8F99;
    margin-bottom: 4px;
    margin-top: 8px;
    display: inline-block;
}

.accept-modal {
    display: flex;
    margin-top: 16px;
    margin-bottom: 14px;
}

.privacy-title {
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: #757575;
    display: flex;
}

.option {
    display: block;
    margin-bottom: 0.5em;
}

.check {
    padding-left: 1.2em;
}

.check__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
}

.check__box {
    position: absolute;
    margin-top: 0.2em;
    margin-left: -1em;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
}

.check__input:checked+.check__box {
    background-color: #404BBF;
    background-image: url(./img_css/modal-accept.svg);
    border: none;
}

.check__input:checked:disabled+.check__box {
    background-color: #9B9B9B;
}

.accept-title {
    margin-left: 24px;
    align-items: center;
}

.modal-ptivacy-link {
    color: #404BBF;
}

.modal-send-btn {
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    padding: 16px 64px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-send-btn:focus {
    background-color: #404BBF;
}

footer{background-color: #2E2F42;
    padding:  96px 100px;}

.footer-logs{display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }


.footer-logo-link{font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;}

.footer-logo{color: #F4F4FD;}

.footer_title{font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #E7E9FC;
    width: 265px;}

.footer-logs-link {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.footer-logos{font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: 94px;}

.fuuter-input-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.fuuter_input {
    margin-top: 16px;
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(24 / 12);
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);}

.footer-button {
    background-color: #4D5AE5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    display: flex;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    gap: 16px;}

.logo_footer {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;}

.footer-input{margin-top: 72px;
    margin-right: auto;}

.footer-in{display: flex;
    gap: 24px;}

.footer-button{height: 40px;
    margin-top: 14px;}
    
.footer-input-logo{fill: #ffffff;}

.portfolio-li{background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}

.portfolio-top-title{position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

        .portfolio-img {
            display: flex;
            flex-wrap: wrap;
            gap: 48px 24px;
            justify-content: center;
        }
    
        .portfolio-h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: calc(36 / 18);
            letter-spacing: 0.06em;
            color: #212121;
        }
    
        .portfolio-p {
            font-weight: 400;
            font-size: 16px;
            line-height: calc(30 / 16);
            letter-spacing: 0.03em;
            color: #757575;
        }

.portfolio-title{padding: 32px 16px;}

.portfolio-main{padding-bottom: 96px;
    padding-top: 64px;}

.nav-buttons {
    padding: 12px 24px;
    background-color: #E7E9FC;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--color-1);}

.main-btn{display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 64px;
}












}

/* =================================== descktop ================================================ */

@media (min-width: 1440px){


.header {
        border-bottom: 1px solid #E7E9FC;
    }

.menu {width: 100%;
    height: 100%;
    display: flex;}
    
.heder-div{
    display: flex;
    align-items: center;}

.heder-logo{color:#000000;}

.studio1 ,
.portfolio2{
    color: #4D5AE5;
}

.heder-buttons{display: flex;
    list-style: none;
    margin-left: 76px;
    gap: 40px;
    align-items: center;}

.heder-nav-link{font-weight: 500;
    gap: 40px;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #212121; 
    padding: 29px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.burger-logo-link {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.current{color: var(--color-1);
    position: relative;
    }

.current::after{
    content:'' ;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    position: absolute;
    bottom: 0;
    left: 0;
}

.heder-nav-link:hover ,
.heder-nav-link:focus{
    color:var(--color-1);}

.logo-link{
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24 / 18);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color-1);
    font-family:'Raleway';}

.heder-contacts-link{margin-left: auto;
    gap: 40px;
    display: flex;
    margin-top: 28px;
    margin-bottom: 28px;}

.team-logo {
    width: 40px;
    height: 40px;
}

.heder-contackts{
    font-weight: 100%;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);}


.heder-contackts:hover ,
.heder-contackts:focus{
    color: var(--color-1);}


main{background: #FFFFFF;}

.buy{padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                       rgba(46, 47, 66, 0.7)
                                      ),
                                         url(./img_css/background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 600px;
    text-align: center;
    margin: 0 auto;}

.buy-text{margin-bottom: 48px;
    font-weight: 700;
    font-size: 44px;
    line-height:calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;}

.buy-btn{
    padding: 16px 32px;
    min-width: 169px;
    background-color: var(--color-1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.buy-btn:hover ,
.buy-btn:focus {background-color: #404BBF;;}

.svg{background-color: #F4F4FD;
    border-radius: 4px;
    text-align: center;
    padding: 24px 0px;}

.portfolio-main{
    padding-top: 96px;
    padding-bottom: 120px}

.portfolio-li{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);}

.portfolio-img{display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;}

.portfolio-h3{font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: #212121;}

.portfolio-p{font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: #757575;}

.portfolio-title{padding: 32px 16px;}

.portfolio-top-title{position: absolute;
    top: 0;
    height: 100%;
    transform: translateY(100%);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    border: 0.5px solid #F4F4FD;
    border-top: 0;

    padding: 40px 32px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: var(--color-1);}

.portfolio-wraper{position: relative;
    overflow: hidden;}

.portfolio-link{display: block;
    transition-property: box-shadow ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}


.portfolio-link:hover .portfolio-top-title , 
.portfolio-link:focus .portfolio-top-title {
    transform: translateY(0);
}

.portfolio-link:hover , 
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    }

.about-text{
    display:flex;
    gap: 24px;
}

.warning{padding-top: 120px;}

.about-h3{margin: 8px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;}

.about-p{width: 264px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;}

.main-btn{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.nav-buttons{padding: 12px 24px;
    background-color: #E7E9FC;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height:calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--color-1);
    cursor: pointer;
    transition-property: background, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.nav-buttons:hover ,
.nav-buttons:focus{background-color: var(--color-1);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);}

.about-worck{padding:120px 0px; }

.whu-worck{display: flex;
    flex-direction: row;
    gap: 24px;}

.team-soc{
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.team-soc:hover ,
.team-soc:focus {
    background-color:#404BBF;
    
}

.whu-worck-txt{text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: #212121;}

.team-txt{margin-bottom: 72px;
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42 / 36);
        letter-spacing: 0.03em;
        color: #212121;}

.about-team{display: flex;
    gap: 24px;
    flex-direction: row;}

.my-team{background-color: #F5F4FA;
padding:120px 0;}

.team{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
   }

.container{width: 1158px;
    padding: 0 15px;
    margin: 0 auto;}

.team-logo-link{display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
    }

.team-logo{
        width: 40px;
        height: 40px;}

.team-wraper{padding:32px 0;}


.team-h3{margin-bottom:8px ;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}

.team-p{font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.02em;
    color: #757575;}

.customers{
    padding: 120px 0;}

.customers-text{
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;}

.customers-logo-link{display: flex;
    justify-content: center;
    gap: 24px;
}

.costomers-svg-icon{
    fill: currentColor;
    }

.costomers-svg-icon:hover , 
.costomers-svg-icon:focus {
    fill: #404BBF;
}

.customer-svg-link:hover ,
.customer-svg-link:focus {color: #404BBF;}

.customer-svg-link{width: 168px;
    height: 88px;
    border: 1px solid currentColor;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #8E8F99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.Customers-logo{border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-right: 24px;
    padding: 16px 32px;
    margin-bottom: 110px;}

footer{background-color: #2F303A;
    color:#FFFFFF ;
    padding:100px 0;}

.footer-logo{
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: #FFFFFF;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-1);}

.footer_title{
    font-family: 'Roboto';
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #E7E9FC;
    margin-top: 16px;}

.footer-logs{
    display: flex;}

.footer-logos{margin-left: 120px;}

.footer-logs-link{display: flex;
    gap: 16px;
    margin-top: 16px;}

.logo_footer {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fuuter-input-title{
    font-weight: 500;
    font-size: 16px;
    line-height:calc(24 / 16);
    letter-spacing: 0.02em;
    color: #FFFFFF;}
    
.footer-input{margin-left: 80px;}

.footer-input-2{display: flex;
    flex-direction: column;}

.fuuter_input{width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc( 24 / 12);
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);}

.footer-in{display: flex;
    gap: 24px;
    margin-top: 16px;}

.footer-button{background-color: #4D5AE5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    display: flex;
    letter-spacing: 0.04em;
    color: #FFFFFF; 
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    gap: 16px;
    cursor: pointer;
     transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.footer-button:hover , 
.footer-button:focus {background-color: #404BBF;}

.footer-input-logo{fill: #ffffff;}

.footer-soc-title{font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #FFFFFF;}

.logo_footer:hover ,
.logo_footer:focus {background-color: #31D0AA;}

.backdrop{width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.close-button{
    background-color: none}

.modal-close-button{
    position: absolute;
    display: block;
    top: 24px;
    right: 24px;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: background, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.modal-close-button:hover ,
.modal-close-button:focus 
 {background-color: #404BBF;
    fill: #ffffff;}

.modal{position: absolute;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 408px;
    min-height: 576px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding:72px 24px 24px ;
    }

.is-hidden{opacity: 0;
    visibility: hidden;
    pointer-events: none;}

.modal-title{
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;}

.modal-input{width: 100%;
    min-height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
    
.modal-logo-use {
    position: relative;
    display: block;
}

.modal-input-logo{position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.modal-input:focus{border-color: var(--color-1);}

.modal-input:focus + .modal-input-logo{
    fill: var(--color-1);
}

.modal-comment-input{width: 100%;
    min-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 16px;
    padding-bottom: 96px;
    padding-top: 8px;
    resize: none;
    transition-property: border-color, color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}


.modal-comment-input:focus {
    border-color: var(--color-1);
}
.modal-comment-input:focus +
 .modal-comment-input::placeholder {color: var(--color-1);}

.modal-input-title{font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #8E8F99;
    margin-bottom: 4px;
    margin-top: 8px;
    display: inline-block;}

.accept-modal{display: flex;
    margin-top: 16px;
    margin-bottom: 14px;}

.privacy-title{
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: #757575;
    display: flex;
}

.option {
    display: block;
    margin-bottom: 0.5em;
}

.check {
    padding-left: 1.2em;
}

.check__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
}

.check__box {
    position: absolute;
    margin-top: 0.2em;
    margin-left: -1em;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background-color: transparent ;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
}

.check__input:checked+.check__box {
    background-color: #404BBF;
    background-image: url(./img_css/modal-accept.svg);
    border: none;
}

.check__input:checked:disabled+.check__box {
    background-color: #9B9B9B;
}

.accept-title{margin-left: 24px;
    align-items: center;}

.modal-ptivacy-link{color:#404BBF;}

.modal-send-btn{background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    padding: 16px 64px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;
    display: block;
    margin-left: auto;
    margin-right: auto;
     transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    
.modal-send-btn:hover , 
.modal-send-btn:focus {background-color: #404BBF;}}